.title {
  font-size: 150%; background-color: #ededf0; padding: 10px;
}

.icon {
  vertical-align: middle;
}

.main {
  padding: 10px; border-style: solid ; border-width: 0 5px 5px 5px; border-color: #ededf0;
}

.sub {
  margin-left: 1.5em;
}

.last {
  margin-bottom: 1em;
}

hr {
  border: none; border-top: solid 1px #d7d7db; height: 1px; margin: 10px 0;
}

.check_label {
  margin-right: 1em;
}

#ng_input, #ng_submit {
  margin-bottom: 5px;
}

#ng_list_container {
  font-size: 16px;
}

.item_btn {
  display: inline-block; min-width: 124px; max-width: 124px; border-right: solid 1px; text-align: center;
}

.col_allow {
  display: inline-block; min-width: 35px; max-width: 35px; font-size: 13px;
}

.col_btn {
  display: inline-block; min-width: 50px; max-width: 50px; margin-right: 5px; font-size: 13px;
}

.item_check, .col_check {
  display: inline-block; min-width: 50px; max-width: 50px; border-right: solid 1px; text-align: center;
}

.item_select, .col_select {
  display: inline-block; min-width: 130px; max-width: 130px; border-right: solid 1px;
}

.col_select > select {
  font-size: 13px;
}

.item_text, .col_text {
  display: inline-block;
}

.item_select, .item_text, .col_select, .col_text {
  padding-left: 1em;
}

#ng_list_container {
  width: 100%; overflow-x: auto; white-space: nowrap;
}

#ng_list > div:nth-child(2n) {
  background-color: #e3e4e6;
}

#ng_list > div:hover {
	background-color: #e5f3ff !important;
}

#file {
  margin-right: 1em;
}

#export_a {
  display: none;
}
